body{
    background-color: #fafafa;
    padding-top: 1%;
    box-sizing: border-box;
}
html#signin, body#signin {
    background-color: #f5f5f5;
    padding-top: 5%;
}
#sign-up-link, #sign-in-link {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
#sign-up-link a, #sign-in-link a {
    float: right;
}
.container {
    display: flex;
    align-items: center;
}
.form-signin, .form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox, .form-signup .checkbox {
    font-weight: 400;
}
.form-signin .form-control, .form-signup .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"], .form-signup input[type="email"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="password"], #confirmPassword {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signup input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.sign-up-container {
    display: none;
}
table.pinGenerator tbody td{
    width: 25%;
}
table.pinGenerator tbody td:nth-of-type(3){
    width: 50%;
}
table.pinGenerator tbody td{
    border: none;
}
section.pinGenerator{
    margin: 1em;
    box-shadow: 0px 0px 0.4em 0.0em #eaeaea;
}
section.pinsList {
    margin-top: 5em;
    padding: 1em;
    border: 1px #e1e1e1 solid;
    background-color: #eaeaea;
}
.btn-group{
    margin-bottom: 1em;
}
div.pinsList button {
    visibility: hidden;
}
div.pinsList button:first-child {
    visibility: visible;
}
table.pinsList {
    visibility: collapse;
}
/*[err]{
    border: 1px red solid;
}*/
[err] input{
    background-color: #ff000015;
}
[err] p{
    font-size: 0.5em;
    color: red;
}